.navBarContainer * {
    border-radius: 50px;
    padding: 10px 20px;
    
}

.navBarContainer input {
    width: 50px;
    height: 50px;
    transition: width 1s ease;
    
}



.navBarContainer input.expanded {
    width: 250px;
}

.navBarContainer input:focus {
    width: 250px;
}